@charset "utf-8";

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif

}

html{
height: 100vh;

}

body{
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: linear-gradient(to bottom,#b398f9 50%,#a186c2 150%);
background-position: bottom;
background-repeat: repeat;
background-attachment: fixed;
background-position: top;
background-attachment: scroll;

}

header{
background-color: #a186c2;
border-radius: 7px 7px 0px 0px;
width: 90vw;
margin: auto;

}

header>h1{
text-align: center;
color: black;
padding: 3px;
text-shadow: whitesmoke;
margin-top: 17px;

}

nav{
 background-color:#a186c2 ; 
margin-top: 3px;
border-radius: 7px;
width: 90vw;
margin: auto;
text-align: justify;

}

main{
background-color:#6484a4;
display: flex;
justify-content: center;
flex-direction: column;

}

main>article{
background-color: #6484a4;
margin: auto;
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 3px;
width: 95%;

}

article>p{
color: #000;
justify-content: space-around;

}

article>img{
width: 170px;
margin: 03px;
align-items: flex-end;
padding: auto;

}

p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
font-style: italic;
font-weight: 500;
color: #000;

}

footer{
background-color:#a2b0b5 ,#6484a4;
border-radius: 0px 0px 0px 0px;
clear: both;
text-align: center;
width: 90vw;
font-family: Verdana, Geneva, Tahoma, sans-serif
}




